.stack-work
*.hie
.hiedb

# stack-all doesn't produce .lock files, making it cumbersome to ensure they
# stay up to date. And we don't need the same reproducibility assurances one
# gets from checking those in that we do with the main stack.yaml. So we'll
# gitignore them so that, in the case we do build such that they're produced, we
# don't have to deal with the inconsistency.
stack-lts*.yaml.lock
